AddDefaultCharset UTF-8

RewriteEngine on
RewriteRule ^home$ index.php
RewriteRule ^about$ about.php
RewriteRule ^blog$ blog.php
RewriteRule ^play$ play.php
RewriteRule ^fullscreen$ fullscreen.html
RewriteRule ^register$ register.php
RewriteRule ^staff$ staff.php
RewriteRule ^donate$ donate.php
RewriteRule ^support$ support.php
RewriteRule ^policy$ policy.php